# Django Core Settings
DEBUG=True
SECRET_KEY="django-insecure-f#tjk5jd33!_)24pti7a%-1l0*nbmzoq*&#&4!2h5!6xgzm#t&"
ALLOWED_HOSTS=localhost,127.0.0.1,*

# Database connection (PostgreSQL in Docker, SQLite fallback if left empty)
DATABASE_URL=postgres://auth_user:auth_password@db:5432/django_auth

# Google OAuth2 Credentials
# Get this from Google Cloud Console -> APIs & Services -> Credentials -> OAuth 2.0 Client IDs
GOOGLE_CLIENT_ID=
